.brand-text {
    color: #cbb09c !important;
}
.brand {
    background: #cbb09c !important;
    border-radius: 5px;
}
.brand:hover {
    background: #e5b0a2 !important;
    border-radius: 8px;
}

form {
    font-size: x-large;
    max-width: 460px;
    margin: 20px auto;
    padding: 20px;
}